:root {
  /* COLORS */
  --primary-color1: #282c2e;
  --primary-color2: #4a4a4a;
  --primary-color3: #a1a1a1;
  --primary-color4: #f7f8f8;
  --accent-color1: #31a19a;
  --accent-color2: #56b2ac;
}

body {
}

.assignment_header h1 {
  font-size: 2.441rem;
}

header .back-arrow-toc {
  position: fixed;
  top: 3rem;
  left: 3rem;
}

header .back-arrow-toc svg:hover {
  fill: var(--accent-color1);
  transition: 0.6s;
}

header .toc {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: -3rem;
  margin-top: 5rem;
  padding: 2rem 1rem;
  background-color: var(--primary-color2);
}

header .toc a {
  color: var(--primary-color4);
  font-size: 1rem;
  text-decoration: none;
}

header .toc li {
  list-style: none;
}

main {
  /* max-width: 51.5em; */
  margin: 0 auto;
  width: 75vw;
}

.image_banner {
  width: 87vw;
  height: 70vh;
  margin: 30vh 0;
  background-color: var(--accent-color2);
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.image_banner img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  padding: 1rem 0;
  object-fit: contain;
}

.hogwarts_mockup img {
}

.coffee_mockup img {
}

.description {
}

.description .desc_images {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.description img {
  width: 100%;
  max-width: 660px;
}

.process {
}

.process img {
  width: 100%;
  max-width: 600px;
}

.process .code_examples {
  max-width: 400px;
}

figure {
  margin: 1rem 0 3rem;
  font-size: 0.8rem;
}

.conclusion_images {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.grid_flex img {
  max-width: 658px;
}

.desktop_section img {
  max-width: 658px;
}

.mobile_section img {
  max-width: 280px;
}

.default-controls {
  display: flex;
  flex-direction: column;
}

.default-controls figure {
  margin-bottom: 1rem;
}

.default-controls img {
  max-width: 260px;
  width: 100%;
  margin-bottom: 0;
}

@media screen and (max-width: 1080px) {
  .description .desc_images {
    flex-direction: column;
  }
}

@media screen and (max-width: 540px) {
  .before {
    grid-row: 1/2;
    grid-column: 1/3;
  }
  .after {
    grid-row: 2/3;
    grid-column: 1/3;
  }
  .part1 {
    grid-row: 3/4;
  }
  .part2 {
    grid-row: 3/4;
  }

  .hogwarts_mockup img {
    object-fit: contain;
  }
}

@media screen and (min-width: 480px) {
  /* HEADER */
  .assignment_header h1 {
    font-size: 3.052rem;
  }

  .image_banner img {
  }
  .hogwarts_mockup img {
    /* object-fit: cover; */
    /* width: 70%; */
  }

  .default-controls {
    flex-direction: row;
    gap: 1rem;
  }
}

@media screen and (max-width: 1000px) {
  .back-arrow-toc {
    display: none;
  }
}
