* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css?family=Cabin:400|Raleway:400");

:root {
  /* COLORS */
  --primary-color1: #282c2e;
  --primary-color2: #4a4a4a;
  --primary-color3: #a1a1a1;
  --primary-color4: #f7f8f8;
  --accent-color1: #31a19a;
  --accent-color2: #56b2ac;
}

html {
  font-size: 100%; /*16px*/
}

body {
  background: var(--primary-color1);
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: var(--primary-color4);
  padding: 0 2rem;
}

p,
a {
  margin-bottom: 1rem;
  color: var(--primary-color3);
  max-width: 700px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

code {
  color: var(--accent-color1);
}

/* p > a,
p + a {
  color: var(--primary-color4);
  text-decoration: underline var(--accent-color1);
} */

/* HEADER */
header {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 840px;
  position: relative;
}

header .nav-wrapper {
  padding: 3rem 0 4rem;
  /* position: relative; */
}

header nav {
  /* position: relative; */
}

header nav .under-ani {
  font-size: 1.25rem;
  text-decoration: none;
}

.under-ani {
  color: var(--primary-color3);
  text-decoration: underline;
  /* -webkit-text-stroke: 1px var(--primary-color4); */
  position: relative;
}

.under-ani:hover {
  color: var(--primary-color4);
  transition-property: color;
  transition: 0.6s;
  text-decoration: none;
}

.under-ani::after {
  content: "";
  background-color: var(--accent-color1);
  width: 0;
  /* height: 5px; */
  position: absolute;
  bottom: -2px;
  left: 0;
  border-bottom: 3px solid var(--accent-color1);
  transition: 0.6s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.under-ani:hover::after {
  width: 100%;
  /* height: 0; */
}

/* header nav a:hover {
  text-decoration: underline;
  color: var(--primary-color4);
  -webkit-text-stroke: 0px var(--primary-color1);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
} */

header h1 {
  align-self: center;
  font-size: 2.441rem;
  padding-top: 0.25rem;
}

header span {
  position: absolute;
  width: 2rem;
  border-bottom: 3px solid var(--accent-color1);
  top: 132px;
}

header img {
  width: 100%;
}

/* MAIN */
main {
}

/* ABOUT */
#about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding-top: 3rem;
}

#about .about_item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#about .about_item h3 {
  border-bottom: 3px solid var(--accent-color1);
}

#about .educations {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  gap: 0.5rem;
}

#about .educations span {
  font-weight: bold;
  color: var(--primary-color4);
}

#about .educations p:last-child {
  justify-self: end;
}

#about .tools span {
  font-weight: bold;
  color: var(--primary-color4);
}

#about .tools p:nth-child(3),
#about .tools p:nth-child(5) {
  word-spacing: 1.25rem;
}

/* projects */
#projects {
  display: flex;
  flex-direction: column;
}

#projects h2 {
  grid-column: 1/3;
}

#projects a {
  display: flex;
  /* height: 300px; */
  background-color: var(--primary-color2);
  padding: 0.5rem;
  border-radius: 5px;
}

#projects a:hover {
  background-color: var(--accent-color1);
  transition: 0.8s;
}

#projects img {
  width: 100%;
  border-radius: 5px;
  align-self: center;
  /* max-height: 227px; */
}

/* FURTHER ABOUT */
#further_about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 3rem 0;
}

#further_about .about_item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#further_about .about_item h3 {
  border-bottom: 3px solid var(--accent-color1);
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  padding: 2rem 0;
  border-top: 3px solid var(--accent-color1);
  text-align: center;
  gap: 1rem;
}

footer ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 3rem;
  margin-top: 0;
}

footer ul li {
  width: 32px;
  height: 32px;
  overflow: hidden;
}

ul li svg:hover {
  fill: var(--accent-color1);
  transition: 0.6s;
}

/*----------- DESKTOP ---------*/

/* BODY MARGIN EXTRA WIDE SCREEN */
@media screen and (min-width: 1660px) {
  body {
    width: 85vw;
    margin: 0 auto;
  }
}

@media screen and (min-width: 480px) {
  /* HEADER */
  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  header .nav-wrapper {
    grid-column: 1/3;
    margin-left: auto;
  }

  header nav a {
  }

  header h1 {
    font-size: 3.052rem;
  }

  header img {
    justify-self: end;
    width: 85%;
  }

  /* MAIN */
  main {
  }

  /* ABOUT */
  #about,
  #further_about {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }

  /* projects */
  #projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding-top: 5rem;
  }

  #projects h2 {
    grid-column: 1/4;
  }

  /* LEARNED */
  #design_for_developers {
    padding: 3rem 0;
  }

  /* FOOTER */
  footer {
    flex-direction: row;
    justify-content: space-between;
  }

  footer ul {
  }
}

/* SCREEN FIXES ON A MEDIUM SCREEN */
@media screen and (max-width: 1030px) and (min-width: 480px) {
  #about {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #about .about_me {
    /* grid-row: 1/3; */
  }

  #about .education {
    grid-area: 1/2/2/3;
  }

  #about .tools {
    grid-area: 2/2/3/3;
  }
}

@media screen and (max-width: 810px) {
  #projects {
    grid-template-columns: 1fr 1fr;
  }
  #projects h2 {
    grid-column: 1/3;
  }
}
